*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
nav{
    height: 80px;
    width: 100%vw;
}
.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.links{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
#active,.links:hover{
    background: #1b9bff;
    transition: 0.5;
}
.bars{
    background-color: white;
    width: 30px;
    height: 4px;
    margin-bottom: 8px;
    transition: all 0.5s;
    border-radius: 5px;
}
input{
    display: none;
}
label{
    height: 28px;
    width: 40px;
    float: right;
    line-height: 80px;
    margin: 25px 40px 0 0;
    cursor: pointer;
    display: none;
}
input:checked+label #bar1{
     transform: rotate(45deg) translate(8.5px , 8.5px);  
     width: 30px; 
    }
input:checked+label #bar3{
     transform: rotate(-45deg) translate(8.5px , -8.5px);   
}
input:checked+label #bar2{
     opacity: 0; 
 }
body{
    background: #0a0a0a;
}
main{
    width: 100%vw;
    height:auto;
}
.start{
    height: 500px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.name{
    font-size: 60px;
}
.name span{
    color: #0082e6;
}
.intro{
    margin-top: 10px;
    display: flex;
}
.intro h1{
    font-size: 40px;
    margin-right: 10px;
}
.intro span{
    position: relative;
    display: inline-block;
    color: #0082e6;
    height: 50px;
    vertical-align: bottom;
    overflow: hidden;
    font-size: 40px;
}
.intro span span{
    display: block;
    animation: animateWords 10s infinite 1s ease;
}
@keyframes animateWords {
    0% {transform: translateY(0%);}
    25% {transform: translateY(-100%);}
    50% {transform: translateY(-200%);}
    75% {transform: translateY(-300%);}
    100% {transform: translateY(-400%);}
}
.dtl{
    width: 700px;
    font-size: 20px;
    margin-top: 20px;
}
.dtl p{
    line-height: 25px;
}

.photo{
    border: 2px solid #0082e6;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    justify-content: center;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px #1b9bff;
}
img{
    height: 350px;
    position: relative;
    left: 10px;
}
.social{
    margin-top: 100px;
}
.social ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    width: 300px;
    justify-content: space-evenly;
    position: relative;
}
.social ul li{
 border: 2px solid white; 
 border-radius: 8px;
 height: 40px;
 width: 40px;  
 cursor: pointer;
 transition: all 0.5s ease;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
#social2{
    display: none; 
    margin: 50px 0 20px 0;

}
#social2 ul{
    display: flex;
    list-style: none;
    font-size: 25px;
    width: 300px;
    justify-content: space-evenly;
    position: relative;
}
#social2 ul li{
 border: 2px solid white; 
 border-radius: 8px;
 height: 35px;
 width: 35px;  
 cursor: pointer;
 transition: all 0.5s ease;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1;
}
#fb:hover{
     box-shadow: 0 0 15px #1877F2 ;
}
#lkin:hover{
    box-shadow: 0 0 15px #0A66C2;
}
#insta:hover{
    box-shadow: 1px 0 15px #E4405F, -1px 0 15px #FCAF45, 0 1px 15px #8a3ab9, 0 -1px 15px #4C68D7 ;  
}
#x:hover{
    box-shadow: 0 0 15px #71767B;
}
#gthb:hover{
    box-shadow: 0 0 15px #F5F5F5;
}